<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

</head>
<body>

<section class="mt-5 px-5">
    <h2 class="mb-4">Predict User subscribe to Term Deposit</h2>
     <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload CSV File</label>
            <input type="file" class="form-control-file" id="file" name="file" accept=".csv" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

<section class="mt-3 px-5">

    {% if error %}
        <p class="text-danger mt-3">{{ error }}</p>
    {% endif %}

    <table id="usersTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Age</th>
                <th>Job</th>
                <th>Marital</th>
                <th>Education</th>
                <th>Defaulter</th>
                <th>Balance</th>
                <th>Housing</th>
                <th>Loan</th>
                <th>Contact</th>
                <th>Month</th>
                <th>Duration</th>
                <th>Campaign</th>
                <th>Pdays</th>
                <th>Prev</th>
                <th>Poutcome</th>
                <th>Deposit</th>
            </tr>
        </thead>
        <tbody>
            {% for user in prediction %}
                <tr>
                    <td>{{ user.age }}</td>
                    <td>{{ user.job }}</td>
                    <td>{{ user.marital }}</td>
                    <td>{{ user.education }}</td>
                    <td>{% if user.defaulter == 1 %}Yes{% else %}No{% endif %}</td>
                    <td>{{ user.balance }}</td>
                    <td>{% if user.housing == 1 %}Yes{% else %}No{% endif %}</td>
                    <td>{% if user.loan == 1 %}Yes{% else %}No{% endif %}</td>
                    <td>{{ user.contact }}</td>
                    <td>{{ user.month }}</td>
                    <td>{{ user.duration }}</td>
                    <td>{{ user.campaign }}</td>
                    <td>{{ user.pdays }}</td>
                    <td>{{ user.prev }}</td>
                    <td>{{ user.poutcome }}</td>
                    <td style="color: {% if user.deposit == 1 %}blue{% else %}black{% endif %}">
                        {% if user.deposit == 1 %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<!-- Include Bootstrap JS (optional, but might be needed for some features) -->
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#usersTable').DataTable();
    });
</script>

</body>
</html>
